---

---

<button
  type="button"
  id="navbar-toggle"
  aria-controls="navbar-menu"
  aria-label="Toggle Menu"
  aria-expanded="false"
>
  <span class="icon-bar makeItMove"></span>
  <span class="icon-bar makeItMove"></span>
  <span class="icon-bar makeItMove"></span>
</button>


<style>

#navbar-toggle{
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#navbar-toggle:is(:focus, :hover) .icon-bar{
  background-color: var(--main_darkVanilla,white);
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--main_white);
}
#navbar-toggle[aria-expanded="true"]
.icon-bar:is(:first-child, :last-child){
  position:absolute;
  margin:0;
  width: 30px;
}
#navbar-toggle[aria-expanded='true']
.icon-bar:first-child{
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded='true']
.icon-bar:nth-child(2){
    opacity: 0;
}
#navbar-toggle[aria-expanded='true']
.icon-bar:last-child{
  transform: rotate(-45deg);
}
.makeItMove {
  transition: all 0.2s ease-out;
}
</style>

<script>
  const navbarToggle = document.querySelector('#navbar-toggle');

  let isNavBarExpanded = navbarToggle.getAttribute('aria-expanded') === 'true';

  const toggleNavbarVisibility = () =>{
    isNavBarExpanded = !isNavBarExpanded
    navbarToggle.setAttribute('aria-expanded', String(isNavBarExpanded))
  }

  navbarToggle.addEventListener('click', toggleNavbarVisibility)

</script>