---
const locations = [
  {
    name: "The Greene",
    address: "4411 Walnut St, Beavercreek, OH 45440",
    phone: "(937) 702-9370",
  },
  {
    name: "The Flats",
    address: "426 Warren St, Dayton, OH 45402",
    phone: "(937) 985-9006",
  },
];
---

<style>
  footer {
    font-family: "barlow";
    background-color: black;
    color: white;
    padding: 2vw 0 4vw 0;
    width: 100vw;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5vw;
    gap: 1.5rem;
  }

  .location {
    flex: 1 1 calc(50% - 1.5rem);
    min-width: 300px;
  }

  .location h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  .info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .info .icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }

  .info span {
    line-height: 1.5;
  }

  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }

    .location {
      flex: 1 1 100%;
    }
  }
</style>

<footer>
  <div class="footer-container">
    {locations.map(location => (
      <div class="location">
        <h3>{location.name}</h3>
        <div class="info">
          <div class="icon">
            {/* <Icon name="location" /> */}
          </div>
          <span>{location.address}</span>
        </div>
        <div class="info">
          <div class="icon">
            {/* <Icon name="phone" /> */}
          </div>
          <span>{location.phone}</span>
        </div>
      </div>
    ))}
  </div>
</footer>
