---
import { map } from "astro/zod";
import { LocationCard } from "../../common";
import { getCollection } from "astro:content";


const storeLocations = await getCollection("locations");
---

<div class="location-container">
  <div class="location-layout">
    {storeLocations.map(({ data }) => <LocationCard locationDetails={data} />)}
  </div>
</div>

<style>
  .location-container {
    container-type: inline-size;
    height: 100%;
  }
  .location-layout {
    margin: 50px 0px;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
  }

  @container (max-width: 700px) {
    .location-layout {
      margin: 50px 0px;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }
</style>
