---
import background from "./assets/Background.png";
import { Image } from "astro:assets";

const IG_link = "https://www.instagram.com/d_s_barbershop/";
---

<a href={IG_link} target="_blank" class="link">
  <Image
    src={background}
    alt="image of a d's instragram photos"
    widths={[375, 810, background.width]}
    sizes={`(max-width: 375px) 375px, (max-width: 810px) 810px, ${background.width}px`}
  />
</a>

<style>
  a, img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
